*{
  margin: 0%;
  padding: 0%;
  font-family: 'inter';
  text-transform: capitalize;

}
body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to bottom,
      #DBCDE0 32%,
      #DBCDE0 32%,
      #DBCDE0 33%,
      #DBCDE0 46%,
      #C1B3C7 70%,
      #BC6BDE 91%);

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.logo img {
  border-radius: 50%;

}
.tagline {
  font-size: 1.1em;
  color: #333;
  margin: 20px 0;
  text-align: left;
}
.secondline {
  font-size: 1.1em;
  color: #333;
  margin: 20px 0;
  text-align: right;
}


form {
  margin-top: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

button {
  padding: 12px;
  background-color: #7d3c98;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1em;
  cursor: pointer;

}

button:hover {
  background-color: #5a2c7a;
}


.app-wrapper {
  width: 375px;
  background-color: #EAEAEA;
  border-radius: 12px;
  padding: 24px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header .icon {
  width: 48px;
  height: 48px;
}

.header p {
  color: #333;
  font-size: 15px;
  margin-top: 8px;
}

.primary-btn,
.task-btn {

  color: white;
  border: none;
  padding: 14px;
  margin: 8px 0;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  transition: background 0.3s;
}

.primary-btn:hover,
.task-btn:hover {
  background-color: #9932CC;
}

.task-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
